    .navbar {
        width: 100%;
        background: #ecf0f3;
        text-align: center;
    }
    
    .nav {
        display: flex;
        width: 80%;
        justify-content: flex-start;
        padding: 0.480rem;
    }
    
    .nav h3 {
        font-size: 0.960rem;
        margin-left: 25%;
    }
    
    .nav h1 {
        font-size: 0.960rem;
    }
    
    .back {
        width: 9%;
        height: 100%;
        align-self: center;
        padding-left: 0.480rem;
    }
    
    .con {
        width: 100%;
        background: #fff;
    }
    
    .con .img {
        /*width: 558px;*/
        padding: 1.760rem 0rem;
        width: 90%;
        margin: 0 auto;
    }
    
    .read {
        text-align: center;
    }
    
    .read h1 {
        font-size: 1.632rem;
        color: #222;
        margin-bottom: 0.5rem;
    }
    
    .read h2 {
        font-size: 0.8rem;
        color: #858585;
    }
    
    .con_2 {
        width: 100%;
        display: flex;
    }
    
    .loading {
        background: #ecf0f3;
        width: 80%;
        height: 20px;
        margin: 0 auto;
        margin-top: 12px;
        border-radius: 20px;
        position: relative;
    }
    
    .lo {
        background: #7ed321;
        width: 0%;
        height: 20px;
        margin: 0 auto;
        border-radius: 20px;
        position: absolute;
        top: 0;
    }
    
    .bg_bl {
        background: #1199ff;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .bg_bl img {
        width: 60%;
        align-self: center;
        margin: 20px;
    }
    
    .check {
        width: 60%;
        height: 40px;
        border-radius: 20px;
        background: #1987f7;
        align-self: center;
        color: #fff;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .yest_day {
        color: #8fccff;
        margin: 20px;
    }
    
    .kuo {
        width: 100%;
        border-bottom: 1px solid #dcdcdc;
    }
    
    .kuo_con {
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin: 10px auto;
    }
    
    .kuo_1 {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        align-items: center;
    }
    
    .kuo_1 img {
        width: 32px;
    }
    
    .kuo_1 h1 {
        font-size: 18px;
        align-self: center;
    }
    
    .next {
        width: 20px;
        height: 20px;
    }
    
    input[type="checkbox"] {
        display: none;
    }
    
    label {
        box-shadow: #ccc 0px 0px 0px 1px;
        width: 40px;
        height: 20px;
        display: inline-block;
        border-radius: 20px;
        position: relative;
        background-color: #bdbdbd;
        overflow: hidden;
    }
    
    label:before {
        content: '';
        position: absolute;
        left: 0px;
        width: 20px;
        height: 20px;
        display: inline-block;
        border-radius: 20px;
        background-color: #fff;
        z-index: 20;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
    
    input:checked+label:before {
        left: 20px;
    }
    
    input:checked+label {
        background-color: #51ccee;
    }